


#projects-main {
    margin-top: 100px;
    margin-left: 150px;  
  }
  
  #projects-main p {
      /* margin-left: 1rem; */
      padding: 1rem;
      font-size: 1.25rem;
    font-weight: 600;
    color: #D1701F;
  }
  #projects-main h2 {
      margin-left: 1rem;
      padding-bottom: 1rem;
      font-size: 2rem;
  }
  
  .project-sec img{
      margin-left: 1rem;
      margin-top: 1.5rem;
      border-radius: 6px;
      box-shadow: 6px 6px 12px lightgray;
      display: inline-block;
      z-index: -2;
  }
  
  .project-order {
      margin-left: 2rem;
      margin-top: 1rem;
      font-size: 2rem;
      font-weight: 600;
  }
  
  
  
  
  
  /* .project-sec1 {
      display: flex;
      flex-direction: column;
      /* align-items: center; */
      /* justify-content: center; */
  /* } */ */
  
  .project-sec {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 200px;
    
  }
  .pro-sec {
     width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  .project-title {
      display: flex;
    
      justify-content: space-around;
  }
  
  .project-sec img:hover {
      /* width: 420px;
      transition: 0.7s all; */
      opacity: 0.7;
  }
  
   h4 {
      margin-right: 7rem;
      
  } 
  
  
  /* media query for tablet responsiveness */
  @media screen and (max-width:720px){
      #projects-main {
          padding-top: 500px;
            
            }
         
            .project-sec img {
             width: 300%;
            }
  }
  
  
  /* media query for mobile responsiveness */
  @media screen and (max-width: 420px){
      #projects-main {
          margin-top: 3400px;
      } 
      #projects-main h2 {
          width: 400%;
          /* font-size: large; */
      }
      .project-sec img {
          width: 400%;
          margin-left: 5rem;
      }
      #projects-main p {
        font-size: 3rem;
        margin-left: 5rem;
      }
      #projects-main h2 {
        font-size: 2.5rem;
        margin-left: 5rem;
      }
  }